/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f1f5f8;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@media (min-width: 539px) {
  .container {
    width: 520px;
  }
}
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}

.movies-list .all-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-bottom: 5rem;
}
.movies-list .all-movies .single-movie {
  max-height: 30rem;
}
.movies-list .all-movies .single-movie a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.movies-list .all-movies .single-movie a .image,
.movies-list .all-movies .single-movie a .image img {
  width: 100%;
  height: 100%;
}
.movies-list .all-movies .single-movie a .image img {
  object-fit: cover;
}
.movies-list .all-movies .single-movie a .details {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 1);
  transition: 0.3s;
}
.movies-list .all-movies .single-movie a:hover .details {
  transform: translateY(-100%);
}
.movies-list .all-movies .single-movie a .details h2 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.movies-list .all-movies .single-movie a .details p {
  color: #ffffff;
  font-size: 16px;
}
.single-movie-page {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.single-movie-page .container .btn {
  background-color: black;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: block;
  width: fit-content;
  margin-bottom: 2rem;
}
.single-movie-page .container .movie {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.single-movie-page .container .movie .image {
  flex-grow: 1;
  height: 30rem;
}
.single-movie-page .container .movie .image img {
  width: 100%;
  height: 100%;
}
.single-movie-page .container .movie .movie-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.single-movie-page .container .movie .movie-info header h1 {
  font-size: 28px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}
.single-movie-page .container .movie .movie-info header p {
  line-height: 24px;
  font-size: 13px;
}
.single-movie-page .container .movie .movie-info header p span {
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 16px;
  margin-right: 0.5rem;
}
.single-movie-page .container .movie .movie-info .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.single-movie-page .container .movie .movie-info .info .info-list h2 {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0.75rem;
  letter-spacing: 1px;
}
.single-movie-page .container .movie .movie-info .info .info-list .list li {
  font-size: 13px;
  line-height: 24px;
}
.single-movie-page
  .container
  .movie
  .movie-info
  .info
  .info-list
  .list
  li
  span {
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
  margin-right: 0.5rem;
}
@media (min-width: 1023px) {
  .single-movie-page .container .btn {
    margin-bottom: 4rem;
  }
  .single-movie-page .container .movie {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
  .single-movie-page .container .movie .image {
    flex: 0 0 30%;
  }
  .single-movie-page .container .movie .movie-info {
    flex: 0 0 70%;
  }
  .single-movie-page .container .movie .movie-info header h1 {
    font-size: 36px;
  }
  .single-movie-page .container .movie .movie-info header p {
    font-size: 16px;
  }
  .single-movie-page .container .movie .movie-info header p span {
    font-size: 18px;
  }
  .single-movie-page .container .movie .movie-info .info {
    flex-direction: row;
    gap: 4rem;
  }
  .single-movie-page .container .movie .movie-info .info .info-list {
    width: 100%;
  }
  .single-movie-page .container .movie .movie-info .info .info-list h2 {
    font-size: 26px;
    margin-bottom: 1.5rem;
  }
  .single-movie-page .container .movie .movie-info .info .info-list .list li {
    font-size: 16px;
    line-height: 28px;
  }
  .single-movie-page
    .container
    .movie
    .movie-info
    .info
    .info-list
    .list
    li
    span {
    font-size: 18px;
  }
}
.search-form {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.search-form .container {
  text-align: center;
}
.search-form .container .form {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search-form .container .form .form-input,
.search-form .container .form .btn {
  height: 3rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #f1f5f8;
}
.search-form .container .form .form-input {
  flex-grow: 1;
  padding: 0 1rem;
}
.search-form .container .form .btn {
  width: 100px;
  background-color: black;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 800;
}
@media (min-width: 991px) {
  .search-form .container {
    text-align: left;
  }
  .search-form .container .form {
    width: 500px;
  }
  .search-form .container .form .btn {
    width: 120px;
  }
}
